* {
  box-sizing: border-box;
}

body {
    background-image: url("gray-portfolio.jpg");
    line-height: 1.6;
    margin: 0;
    font-family: Open Sans;
}

  p {
  font-size: 22px;
}

/* Navigation Bar Contents */

.main-nav {
  background-image: url("gray-portfolio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5em 2em;
  margin-top: -20px;
  list-style-type: none
}
.main-nav a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    margin: 10px;
    color: black;
}

.main-nav a:hover {
  background-color: #fff;
}

.main-header {
  text-align: center;
    background-image: url("portfolio-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    padding: 1em 0;
    width: auto;
}

.main-header .name {
  font-size: 5em;
  color: #fff;
}

.name {
  font-size: 3em;
  font-family: Pacifico;
}

#me {
  margin-left: 5%;
  border-radius: 10px;
  height: 500px;
  width: 520px;
}

.content-wrapper {
  margin-left: 10%;
  margin-right: 10%;
}

footer {
  background-image: url("portfolio-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  text-align: center;
  padding: 1.5em 2em;
  color: #fff;
  font-size: 1.7em;
  font-family: Pacifico;
}

/* Media Queries */

@media (min-width: 1700px) {
  .container
  {
    width: 70%;
    max-width: 3000px;
    color: green;
    margin: 0 auto;
  }

  #me
  {
    height: 400px;
    width: 420px;
    border-radius: 10px;
    background-color: #fff;
    padding: .5em .5em .5em .5em;
    border: 2px
  }

  #css-img
  {
    margin-top: 2%;
    width: 100px;
    height: 100px;
  }

  #javascript-img
  {
    width: 100px;
    height: 100px;
  }

  #php-img
  {
    width: 100px;
    height: 100px;
  }

  .logos
  {
    display: inline-block;
    margin-left: -1.5px;
    margin-bottom: 2%;
    border-radius: 5px;
  }

  .logo-block
  {
    margin-left: 35%;
  }

  .col
  {
    display: inline-block;
    width: 50%;
    margin-right: -2.5px;
    vertical-align: bottom;
    padding-left: 1em;
    padding-right: 1em;
  }

  footer {
    padding-top: 3em;
    padding-bottom: 5em;
  }
}

@media (min-width: 769px) {
  .container
  {
    width: 70%;
    max-width: 2000px;
    margin: 0 auto;
  }

 	.name,
  #brief-intro,
  #me,
  .main-nav li
  {
  	display: inline-block;
  }

}


@media (max-width: 520px) {
  .container
  {
    width: 70%;
    max-width: 2000px;
    margin: 0 auto;
  }

  .main-nav a
  {
  	display: none;
  }

  #me {
    height: 300px;
    width: 320px;
  }

  .logos {
    display: inline-block;
    margin-left: 25%;
    border-radius: 5px;
    width: 100px;
    height: 100px;
  }

}
