* {
  box-sizing: border-box;
}

body {
    background-image: url("gray-portfolio.jpg");
    /*background-color: #754;*/
    /*color: #fff;*/
    line-height: 1.6;
    margin: 0;
    font-family: Open Sans;
}

  p {
  font-size: 22px;
}

/* Navigation Bar Contents */
.main-nav {
  background-image: url("gray-portfolio.jpg");
  padding: 1.5em 2em;
  margin-top: -20px;
  list-style-type: none
}
.main-nav a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    margin: 10px;
    color: black;
}

.main-nav a:hover {
  background-color: #fff;
}

.main-header {
  text-align: center;
    background-image: url("portfolio-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    padding: 1em 0;
    width: auto;
}

.main-header .name {
  font-size: 5em;
  color: #fff;
}

/*.main-header {
	text-align: center;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: #3acec2;
	margin-bottom: 30px;
}*/

.name {
  font-size: 3em;
  font-family: Pacifico;
}

img {
  margin-left: 5%;
  border-radius: 10px;
  height: 500px;
  width: 520px;

}

.content-wrapper {
  margin-left: 10%;
  margin-right: 10%;
}

footer {
  background-image: url("portfolio-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  text-align: center;
  padding: 1.5em 2em;
  color: #fff;
  font-size: 1.7em;
  font-family: Pacifico;
}

@media (min-width: 769px) {
  .container
  {
    width: 70%;
    max-width: 2000px;
    margin: 0 auto;
    bo
  }

 	.name,
  #brief-intro,
  img,
  .main-nav li
  {
  	display: inline-block;
  }

}

@media (min-width: 2430px) {
  .container
  {
    width: 70%;
    max-width: 3000px;
    color: green;
    /*margin-left: 10px;
    margin-right: -2px;*/
    margin: 0 auto;
  }

  img {
    height: 400px;
    width: 420px;
    border-radius: 10px;
  }
  footer {
    padding-bottom: 5em;
  }

}

@media (max-width: 520px) {
  .container
  {
    width: 70%;
    max-width: 2000px;
    margin: 0 auto;
  }

  .main-nav a
  {
  	display: none;
  }

  img {
    height: 300px;
    width: 320px;
  }

}

/*.nav-bar img {
    postion: fixed;
    margin-top: 10%;
    margin-left: 5%;
    border-radius: 20px;
}

.nav-bar ul {
    float: left;
    margin-left: 5%;
    width: 100%;
    font-size: 50px;
    list-style: none;
}

.nav-bar a:visited {
    text-decoration: none;
    color: #fff;
}

.nav-bar #name {
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-family: Pacifico;
    font-size: 50px;
    color: #fff;
}

.nav-bar #brief-intro {
    position: absolute;
    width: 200px;
    height: 50px;
    margin-top: 20%;
    margin-left: 5%;
    color: #fff;
}*/
